/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background: #4B0082; /* Cor roxa suave */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header a {
    color: #fff; /* Cor do texto do título */
    text-decoration: none;
    font-size: 2rem;
}

header a:active,
header a:focus {
    color: #8A2BE2; /* Cor roxa mais viva ao clicar */
}

/* Navegação */
nav ul {
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: center; /* Centraliza as abas */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #333; /* Cor do texto das abas */
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: #e0e0e0; /* Cor de fundo clara para abas não selecionadas */
    transition: background 0.3s ease, color 0.3s ease; /* Suaviza transições de cor e fundo */
}

nav ul li a:hover {
    background: #d5a6f0; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}

nav ul li a.active {
    background: #4B0082; /* Cor de fundo para a aba selecionada */
    color: #fff; /* Cor do texto da aba selecionada */
}

/* Seções principais */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Rodapé */
footer {
    background: #4B0082;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
